.top{

  background: #f2f2f2;
  text-align: center;
  width: 99%;
  height: 112px;
  border-bottom: solid;
  border-color: #d9d9d9;
  border-bottom-width: 0.2px;
  padding-right: 10px;
  padding-top: 10px;
  }

.middle{
  background-color: ;
  width: 50%;
  position: relative;
  height: auto;
  padding: 5px 20% 0px 13%;
  text-align: left;
}

.middle-box-container {
  height: auto;
  width: 663px;

}

.middle-box {
  background-color:;
  width: 660px;
  height: auto;

  height: auto;
  padding-bottom: 10px;
  border-style: solid;
  border: 1px ridge #e6e6e6;
  margin-left: -15px;

}

.bottom{
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  width: 89%;
  height: 60px;
  color: #222;
  font-size: small;
  font-family: arial, sans-serif;
  padding: 0px 0px 0px 140px;
  text-align: left;
}

#bottom-child {
  padding-right: 20px;
  padding-top: ;
  float: left;
}


#left{
  float:left;
  width: 11.5%;
  height: 100px;
  background: ;
  padding-top: 5px;
}

#center{
  display: inline-block;
  margin:0 auto;
  width: 50%;
  height: 100px;
  background: ;
  padding-top: 5px;
}

#search_box{
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  width: 598px;
  margin-bottom: 12px;
  background-image: (images/search_icon.png);
  padding-left: 7px;
}

#right{
  float:right;
  width: 38%;
  height: 100px;
  background: ;
  padding-top: 5px;
}

#related-searches {
 padding: 5px 20% 0px 13%;
}

.right_navigation_bar{
  background-color: ;
  width: 100%;
  height: 30px;
  font-family: arial,sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.ad {
  margin-right: 7px;
  margin-left: 0px;
  background-color: #fff;
  border-radius: 3px;
  color: #006621;
  display: inline-block;
  font-size: 11px;
  border: 1px solid #006621;
  padding: 1px 3px 0 2px;
  line-height: 11px;
  vertical-align: baseline;
  white-space: nowrap;
  list-style: none;
  text-align: -webkit-match-parent;
  font-family: arial, sans-serif

}

.web-address {
  color: #006621;
  vertical-align: bottom;
  display: inline-block;
  max-width: 558px;
  overflow: ;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  text-align: -webkit-match-parent;
  font-family: arial, sans-serif
}

#content {
  color: #545454;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
  text-align: -webkit-match-parent;
  font-size: small;
  font-family: arial, sans-serif
}

#up {
  position: fixed;
}

#down {
  position: relative;
}

div div div {
padding: 10px 10px 10px 10px;
}

.top a {
  text-decoration: none;
  font-size: 13px;
  font-family: arial, sans-serif;
  webkit-user-select: none;
  white-space: nowrap;
  line-height: 15px;
  color: #777
}

.middle p {
  font-size: small;
  font-family: arial, sans-serif;
  visibility: inherit !important;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.middle a {
  text-decoration: none;
  font-size: 18px !important;
  font-weight: normal;
  line-height: 18px;
  font-family: arial, sans-serif;
  color: #808080;
  -webkit-transition: all 220ms ease-in-out;
}

.middle a:link {
  cursor: pointer;
  color: #1a0dab;
}

.middle a:visited {
  color: #609;
}


.middle a:any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

.middle-box-container  #content a:any-link {
  color: #808080;
  text-decoration: none;
  cursor: auto;
  font: 5px arial, sans-serif;
}

.middle-box-container #content a:hover {
  color: #808080;
  text-decoration: underline;
}


.middle-box  #content a:any-link {
  color: #808080;
  text-decoration: none;
  cursor: auto;
  font-size: 2px;
}

.middle-box #content a:hover {
  color: #808080;
  text-decoration: underline;
}

.middle-box a {
  margin-left: 18px;
}

.middle-box cite {
  margin-left: 18px;
}

#bottom-child a:any-link {
  color: #808080;
  text-decoration: none;
}

#bottom-child a:hover {
 color: #262626;
}

#related-searches p {
  font-family: arial, sans-serif;
  text-align: left;
  color: #222;
  height: auto;
  padding-bottom: 8px;
  font-size: 18px;
  line-height: 18px;
}

#related-searches table tr td a:hover {
  text-decoration: underline;
}

#related-searches table tr td a:visited {
 color: #609;
}

#related-searches a:any-link {
  text-decoration: none;
  float: left;

}

#related-searches p a {
  padding-right: 7px;
  font: 13.5px arial, sans-serif;
  font-weight: normal;
  color: #4285f4;
  white-space: nowrap;
  display: block;
  text-align: center
}

#related-searches p a:hover {
  text-decoration: underline;
}

#related-searches p a:visited {
 color: #609;
}

a {

}

form {

}

body {

}

p {

}

ol {

}

table {
  font-weight: 600;
  font-family: arial, sans-serif;
  line-height: 20px;
  font-size: 14px;
}

.middle-box img {
  float: right;
}

#extras{
  float: right;
  background-color:;
}

#notice{
  float: right;
  background: #808080;
  border-radius: 50%;
}

#acct_details{

  float: right;
  color: ;
  border-radius: 50%;
}

#all {
  float: left;
}

#videos {
  float: left;
}

#news {
  float: left;
}

#shopping {
  float: left;
}

#maps {
  float: left;
}

#more {
  float: left;
}

#settings {
  float: right;
}

#tools {
  float: right;
}
